body {
	padding: 0;
	margin: 0;
	max-width: 2048px;
	margin-right: auto;
	margin-left: auto;
 
}
a {
	text-decoration: none;
	color: #000;
	position: relative;
}
/* scroolbar */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sticky-top {
	position: sticky;
	top: 0;
}
.overflow {
	overflow: auto;
	overflow-x: hidden;
}
/* head */
.head {
	display: flex;
	justify-content: space-between;
	position: relative;
	background: #34304c;
}
#dateTime {
 	position: absolute;
	right: 0;
	padding: 5px;
	padding-top: 0;
	background: #f1f1f1;
	border-bottom-left-radius: 10px;
	top: 0;
}
/* header */
.header {
	background: #534d7a;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
/* admin info */
.admin {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.admin-info {
	display: flex;
	flex-direction: column;
}
.admin img {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
.admin-contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 10px;
}
.font-awesome {
	margin: 2.5px;
	background: #f1f1f1;
	padding: 5px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
/* search */
.search {
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
}
.search input {
	border-style: none;
	outline: none;
	width:100%;
	padding: 5px;
}
/* client */
.client {
	display: flex;
	flex-direction: row;
}
.client .font-awesome{
	margin-left: 10px;
	margin-right: 10px;
}
.outline-container {
	margin: 5px;
	padding: 10px;
}

/* body */
.body {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	 
	margin-left: 15px;
	margin-right: 15px;
}
/* menu */
.menu i {
	color: #6e6666;
}
.menu-name {
	margin-top: 50px;
}
.menu {
	width: 13%;
	min-width: 150px;
}
.sub-menu {
	width: 100%;
	
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.menu-item .font-awesome {
	background: #fff;
	margin-right: 15px;
}
.menu-item {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
}
.menu-item:hover , .menu-item:hover * {
	color: #4146FF;
}
/* main */
.main {
	width: 67%;
}
/* sidebar */
.sidebar {
	width: 20%;
	min-width: 220px;
	display: flex;
	align-items: flex-end;
}
.sidebar .outline-container{
	position: sticky;
	bottom: 0;
} 
.body img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.body img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.topic-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: large;
}
.dot {
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: #bf2626;
	margin-right: 10px;
}
.topic-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.topic-item:hover {
	transform: scale(1.05);
}
.topic-item-info {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	justify-content: space-between;
}
.topic-item-info img {
	width: 60px;
	height: 60px;
}
.topic-item-label {
	font-size: smaller;
	/*background: red;*/
	color: #bf2626;
	border-radius: 15px;
	padding: 1.5px;
	margin: 2px;
	font-weight: bolder;
}
.topic-item-author {
	font-size: smaller;
	color: #f0a99b;
	font-weight: bolder;
}

/* footer */
.footer {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 25px;
	border-top: solid #f1f1f1;
	padding-top: 10px;
	background: #f1f1f1;
	font-weight: bold;
}
.footer-section {
	width: 33.3333%;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}
.website-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#website-info span {
	font-size: small;
	font-weight: bolder;
	color:#ff9c82;
	margin-top: 10px;
}
#website-info img {
	width:60px;
	height:60px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
#website-info , #webite-about{
	display: flex;
	flex-direction: column;
		margin:5px;
}
/* donate */
.contact {
	display: flex;
	flex-direction: column;
}
.donate {
	display: flex;
	flex-direction: row;
	align-items: center;
}
/* copyright */
.copyright {
	background: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	padding:5px;
}
#copyright {
	}

/* post */
.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-flex-flow:row wrap;
}
.post-item {
	width: 275px;
	margin-bottom: 40px;
}
/* demo */
.post-item:hover {
	transform: scale(1.05);
}


/* demo */
.post-item-container {
	margin-left: 5px;
	margin-right: 5px;
}
.post-item-info {
	margin-top: 10px;
	padding:0 10px 0px 10px;
	display: flex;
	flex-direction: row;
}
.post-item-date {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #4c6fd0;
	font-weight: bolder;
}
.post-item-date span {
	margin-left: 2.5px;
}
.post-item-date i {
	font-size: 12px;
}
.post-title {
	margin-right: 2.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
.firstChar {
	display: block;
	background: #f59667;
	width: 15px;
	height: 15px;
	text-align: center;
	font-weight: bolder;
	border-radius: 50%;
	padding: 3px;
	margin-right: 2.5px;
}
.post-item-plus {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 14px;
}
.post-image {
	overflow: hidden;
	width: 115px;
	height: 80px;
	min-width: 115px;
	min-height: 80px;
	border-radius: 10px;
}
.post-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: transform .5s ease;
}

.post-image img:hover {
  transform: scale(2);
}
.post-section img {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	border-radius: 50%;
	margin-right: 2.5px;
}
.post-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
}
.post-section span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* heart */
.fa-heartbeat {
	animation: pulse 1s ease infinite;
	}

	@keyframes pulse {
	  0% { transform: scale(1); }
	  50% { transform: scale(1.3); }
	  100% { transform: scale(1); }
	}

















